body,div,p,ul,ol,li,dl,dt,dd,form,input,table,img,h1,h2,h3,h4,h5,h6,header,section,footer,nav,figure,figcaption,article{margin:0;padding:0}
header,section,footer,nav,figure,figcaption,article,menu{display:block}
body{font-size:12px;font-family:"微软雅黑";background: #fff;position: relative}
ul,ol{list-style:none;}
a,a:hover{text-decoration:none;}
img{border:none;display:inline-block;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
em,i{font-style:normal;}
.fl,.left{float:left;display:inline-block;}
.fr,.right{float:right;display:inline-block;}
.clear:after{content:'';display:block;width:0;height:0;overflow:hidden;clear:both;}
header,nav,section,footer{min-width:320px;}
b{font-weight: normal;}
/*top*/
.top,.c_top{
    height:40px;
    line-height:40px;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    border-bottom: 1px solid #d8d8d8;
    background: #000;
    color: #fff;
}
.c_top{
    font-size: 16px;
    background: #fff;
    color: #000;
}
.wrap{
    font-size: 14px;
}
.agreement{
    padding:16px;
    border-bottom: 1px solid #d8d8d8;
}
.btn_box,.t_box{
    position: fixed;
    bottom:10px;
    left:0;
    width:100%;
    text-align: center;
}
.t_box{
    border-top: 1px dashed #e4e4e4;
    padding-top:10px;
}
.btn_box a,.t_box a,.code_btn{
    width:90%;
    height:40px;
    line-height:40px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    background: #3f9bfe;
}
.t_box a{
    background: #e4e4e4;
    color: #333;
    border-color: #e4e4e4;
}
.code{
    position: fixed;
    top:20%;
    width:100%;
    text-align: center;
}
.code img{
    width:70%;
    display: inline-block;
}
.code em{
    display: inline-block;
    margin-top:20px;
    font-size: 16px;
}
.details_list{
    padding:16px;
}
.details_list li{
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    line-height:40px;
    height:40px;
}
.details_list li label {
    float: left;
}
.details_list li em{
    float: right;
}
.details_list li p{
    float: left;
    margin-right: 20px;
    color: #999;
    min-width: 150px;
}
.details_list li input{
    border: none;
    width: 80px;
    height: 40px;
    line-height: 40px;
}
.h50{
    height: 50px !important;
    line-height: 50px !important;
}
.details_list li em img{
    vertical-align: middle;
}
.code_btn{
    width: 120px;
    vertical-align: middle;
}
.btns{
    padding: 20px 0;
}
.btns a{
    margin-top:10px;
}
.red{
    color: red;
}
.pay_box{
    padding: 16px;
    border-bottom: 1px solid #e4e4e4;
}
.sel_box{
    margin-top:10px;
}
.sel_btn{
    float: left;
    width:16px;
    height:16px;
    border-radius: 2px;
    border: 1px solid #e4e4e4;
    vertical-align: middle;
    margin-right:16px;
}
.sel_btn.active{
    background: url("../../../images/tx/gou.png") center no-repeat;
    background-size:20px 20px;
    border-color: #0094e3;
}
.p_top{
    padding: 16px;
    border-bottom: 1px solid #e4e4e4;
}
.p_top h3{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.p_top p{
    line-height:24px;
    font-size: 14px;
    text-indent: 2em;
}
.btn_result a{
    width: 30%;
    margin: 0 16px;
}
.wrap h5{
    font-size: 16px;
    padding: 20px;
}
.sl_list{
    margin-left:20px;
    line-height:40px;
    margin-top:10px;
}
.sl_list >a{
    width: 16px;
    height:16px;
    display: inline-block;
    margin-right:20px;
    vertical-align: middle;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
}
.sl_list.active >a{
    border-color: #3f9bfe;
    background: url("../../../images/tx/goux.png") center no-repeat;
    background-size:18px 18px;

}
.sl_list em{
    font-size: 14px;
}
.sl_list i{
    display: block;
    margin:0 40px ;
    font-size: 12px;
    line-height:24px;
    color: #999999;
}
.sl_list input{
    display: block;
    border: 1px solid #e4e4e4;
    height:40px;
    width: 60%;
    margin-left:40px;
    padding: 0 10px;
}
.period_box .sel_box{
    margin:30px 0 0 56px;
}
.dailog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.bank_list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 80%;
    width: 80%;
    background: #fff;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px #999;
    overflow: auto;
}
.bank_list li{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.bank_list li i{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    vertical-align: middle;
    margin:0 5px;
}
.bank_list li.active i{
    width: 6px;
    height: 6px;
    border: 6px solid #3f9bfe;
}
.code_btn.active{
    background: #e4e4e4;
}