.scroller-container {
    width: 16rem;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -8rem;
}
.scroller-container {
    height: 100%;
    padding: 0 !important;
}
.m_header_bar {
    position: relative;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    color: #333;
    background: #ffffff;
}
.m_header_bar_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 45px;
}
.m_header_bar_back::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: 1px solid #848689;
    border-left: 1px solid #848689;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 18px;
    margin-top: -6px;
}
.m_header_bar_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 45px;
    color: #898d90;
    font-size: 14px;
}
.m_header_bar_title i{
    display:inline-block;
    height: 20px;
    width: 20px;
    background: url(../img/icons.png) 4px -137px no-repeat;
    vertical-align: middle;
    background-size: 180px 154px;
    vertical-align: middle;
}
.main-container .head_wrap {
    min-height: 45px;
    margin-top: 10px;
    margin-bottom: 1px;
    background: #f8f8f8;
}
.main-container .head {
    box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 10px 10px 42px;
    min-height: 45px;
    z-index: 1;
}
.main-container .head {
    box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 10px 10px 42px;
    min-height: 45px;
    z-index: 1;
}
.main-container .head .icon_select {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 100%;
}
.icon_select {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 43px;
}
.main-container .head .icon_select::after {
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background-color: #fff;
}
.selected .icon_select:after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAANlBMVEUAAADpPD3tO0HrPD7qPD7qOz7qPD3pOz7qPD3qPD3pPD7rPD/pQkLzRkbqQEDpPUH/VVXpOz3Rbw31AAAAEXRSTlMA6iuA81DZ07+rpXIjFgw7CVCvuuwAAADZSURBVDjLjdVbrsMgDATQoThAeYTO/jd7fy6ioU7wfCXKEY4lMLimlpyCSEi5VNym+civRN9UdnrhEvHnrzsclbhjdZ438Rf2efM27w9mptOkUndT/eAm/x2dbgfdOQsbijfZQ2lzwf2S8eHf+ugzAvXBvdDHc0V5ci83XgqyyTEjmRwTgskxQEyOAjE5yix9dHfvGGYzfXzUHBPysozumFG4SNWxoC4t6I4ViFepuzi22ZSqo183rutdc9LMR8F+uOzH1T4A9iPFPqTsY88+SO2j2T7szdfHHy1xS+1j0wOxAAAAAElFTkSuQmCC");
}
.icon_select:after {
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAkUExURUdwTJqampmZmZmZmZubm5ubm6KiopeXl5mZmZmZmaKiopmZmVmXLrgAAAALdFJOUwBD8KiAagslwtYWexMYygAAAOVJREFUKM9jYICAUotJms3hDMiAy3M3GExZgBBjc9qtHFiWLmq0WyUBLii02xDCEN6tCBNj2d0IY0rsdoBqtt6KMCl6M8QA5k0CCEFGbQMw7a2O7JCiLWC53QLIghBu0lYUJzNEq4F0N6AKcgD1c2kLoAoyblrAwLKZAQ1YOzBwbkQXlJ7AUK2ALsi0nSHaAF2QeSuDdQC6IOtmhm4BdEHGHQyzC9AF2XcyaCegC7Jtwi6IVTtWi7A6CavjsXoTa4BgDTqsgYw1OrBHHNYoxpoYsCcbrAkMa1LEnmixJ2+sGQE9ywAARBBNCX4Tud8AAAAASUVORK5CYII=");
    background-size: 20px;
}
.icon_shop{
    width: 16px;
    height: 16px;
    background: url("../img/shopcart_icon.png") center no-repeat;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
    margin:0 4px;
}
.head .title.oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.head .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding-right: 10px;
    width: 100%;
}
.head .icon_arrow_right {
    margin-left: 5px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 16px;
    height: 16px;
    background-image: url("../img/right.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.order .goods__img{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.15733rem;
    flex: 0 0 4.15733rem;
}
.order .goods__img img {
    width: 4.15733rem;
    height: 4.15733rem;
}
.order .goods__desc{
    margin:0;
}
.order .goods__price{
    line-height: 34px;
    text-align: right;
}
.order .goods{
    padding-left: 32px;
    background: #ffffff;
    margin-bottom: 1px;
    position: relative;
}
.order .goods::after{
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 120%;
    bottom: 4px;
    left: -10%;
    background: #f4f4f4;
}
.order .goods:last-child::after{
    display: none;
}
.goods .icon_select{
    top: 40px;
    left: -15px;
}
.text-muted{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.goods .cell{
    padding: 0;
}
.footer-btn{
    display: none;
    text-align: right;
}
.footer-btn a {
    display: inline-block;
    margin-right: 5px;
    width: 69px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #666;
    border-radius: 2px;
    margin-top: 10px;
}
.footer-btn .btn_2{
    background: #f19325;
    color: #fff;
}
.wxshare{
    background: #fff3d5;
    width: 100%;
}
.wxshare-container{
    position: relative;
}
.main-container .wx{
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    z-index: 1;
}
.main-container .bg{
    width: 100%;
}
.wxshare-container p{
    margin-top: 1.6rem;
    font-size: 0.89733rem;
    text-align: center;
    line-height: 1.5rem;
}
.tg{
    padding: 0.5rem 0;
    background: url("../../images/fbg.png") center no-repeat;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    color: #ffffff;
}