/* rem-750 */
.icon {
    display: inline-block;
    position: relative;
}

.icons-action1 {
    width: 1.19467rem;
    height: 1.19467rem;
}

.icons-action1:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1137.06667rem -770.13333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-action10 {
    width: 1.32267rem;
    height: 1.23733rem;
}

.icons-action10:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1137.06667rem -155.73333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-action2 {
    width: 1.49333rem;
    height: 1.19467rem;
}

.icons-action2:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -202.66667rem -936.53333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-action3 {
    width: 1.28rem;
    height: 1.23733rem;
}

.icons-action3:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1137.06667rem -311.46667rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-action4 {
    width: 1.10933rem;
    height: 1.19467rem;
}

.icons-action4:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -531.2rem -936.53333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-action5 {
    width: 1.23733rem;
    height: 1.19467rem;
}

.icons-action5:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1137.06667rem -618.66667rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-action6 {
    width: 1.36533rem;
    height: 1.23733rem;
}

.icons-action6:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1137.06667rem 0rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-action7 {
    width: 1.23733rem;
    height: 1.152rem;
}

.icons-action7:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1137.06667rem -921.6rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-action8 {
    width: 1.152rem;
    height: 1.19467rem;
}

.icons-action8:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -384rem -936.53333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-action9 {
    width: 1.32267rem;
    height: 1.19467rem;
}

.icons-action9:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1137.06667rem -467.2rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-badge-hong {
    width: 0.46933rem;
    height: 0.512rem;
}

.icons-badge-hong:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem -772.26667rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-badge-ke {
    width: 0.46933rem;
    height: 0.512rem;
}

.icons-badge-ke:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem -689.06667rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-cart {
    width: 0.55467rem;
    height: 0.512rem;
}

.icons-cart:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem -605.86667rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-cart2 {
    width: 0.896rem;
    height: 0.896rem;
}

.icons-cart2:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -938.66667rem -936.53333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-clock {
    width: 0.93867rem;
    height: 1.024rem;
}

.icons-clock:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -812.8rem -936.53333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-default {
    width: 1.70667rem;
    height: 1.408rem;
}

.icons-default:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat 0rem -936.53333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-fail {
    width: 2.13333rem;
    height: 2.13333rem;
}

.icons-fail:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -558.93333rem -526.93333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-gear-sm {
    width: 0.46933rem;
    height: 0.46933rem;
}

.icons-gear-sm:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem -855.46667rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-gear {
    width: 0.72533rem;
    height: 0.768rem;
}

.icons-gear:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem -117.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-group-sm {
    width: 0.81067rem;
    height: 0.68267rem;
}

.icons-group-sm:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1002.66667rem -1109.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-home-sm {
    width: 0.55467rem;
    height: 0.512rem;
}

.icons-home-sm:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem -522.66667rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-hot {
    width: 1.06667rem;
    height: 1.06667rem;
}

.icons-hot:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -674.13333rem -936.53333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-like {
    width: 0.896rem;
    height: 0.81067rem;
}

.icons-like:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -763.73333rem -1109.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-like2-o {
    width: 0.68267rem;
    height: 0.59733rem;
}

.icons-like2-o:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem -430.93333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-like2 {
    width: 0.768rem;
    height: 0.68267rem;
}

.icons-like2:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem -226.13333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-logo2 {
    width: 2.13333rem;
    height: 2.13333rem;
}

.icons-logo2:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -313.6rem -526.93333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-logo3 {
    width: 3.712rem;
    height: 0.64rem;
}

.icons-logo3:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat 0rem -840.53333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-nav1 {
    width: 0.768rem;
    height: 0.85333rem;
}

.icons-nav1:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem 0rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-nav2 {
    width: 0.85333rem;
    height: 0.81067rem;
}

.icons-nav2:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -885.33333rem -1109.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-nav3 {
    width: 0.85333rem;
    height: 0.85333rem;
}

.icons-nav3:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -529.06667rem -1109.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-nav4 {
    width: 0.93867rem;
    height: 0.85333rem;
}

.icons-nav4:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -403.2rem -1109.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-pin-o {
    width: 1.06667rem;
    height: 1.32267rem;
}

.icons-pin-o:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -138.66667rem -1109.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-pin-sm {
    width: 0.93867rem;
    height: 1.10933rem;
}

.icons-pin-sm:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -277.33333rem -1109.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-pin {
    width: 1.06667rem;
    height: 1.32267rem;
}

.icons-pin:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat 0rem -1109.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-search {
    width: 0.85333rem;
    height: 0.85333rem;
}

.icons-search:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -646.4rem -1109.33333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-success {
    width: 2.09067rem;
    height: 1.87733rem;
}

.icons-success:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -804.26667rem -526.93333rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}

.icons-trash {
    width: 0.68267rem;
    height: 0.72533rem;
}

.icons-trash:after {
    content: '';
    width: 10000%;
    height: 10000%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icons.png) no-repeat -1305.6rem -326.4rem;
    background-size: 1382.4rem 1241.6rem;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.01);
    transform-origin: 0 0;
    transform: scale(0.01);
}
