@charset "UTF-8"
/**
*
* @author:stuart
* @link:http://www.shizuwu.cn
* @time:2015
*/
html *{outline:0;
-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html,body,div,img,a,p,em,span,ul,li,h1,h2,h3,h4,header,nav,footer,section,i,table,select,label{margin:0px;padding:0px;}
html,body{background:#f0f0f0; min-height: 100%; height: 100%; width: 100%;}
body,div,p,h1,h2,h3,h4,a,span,em{font-family: "Microsoft YaHei","微软雅黑";}
a{text-decoration:none; color:#0018f9;}
ul,li{list-style:none;}
.clear{clear:both; line-height: 0px; height: 0px;}

/* 颜色 */
.orange{background-color:#f1511b;}
.grey{background-color:#f0f0f0;}

/* 按钮 */
.btns{text-align:center;padding:10px 0px;}
.btn{height:44px;font-size:1.2em;border-radius:8px;text-align:center;font-weight:bold;font-style:normal;color:rgb(255,255,255);box-shadow:rgb(170,170,170) 0px 0px 0px;z-index:7;background-color:rgb(255,102,0); border: 1px solid #bbbbbb; display: block; line-height: 44px;}
.btn-orange{width: 80%;}
.btn-login{margin:14px auto;}
.btn-next{margin:6px auto;}
.btn-search{background: #fff; color:#f1511b;}
.btn-delete{background: #fff; color:#bbb; line-height: 30px; height: 30px; padding:0px 4px; width:auto; font-size: 14px; float: left; margin:6px 0px 0px 5px;}
.btn-inline{display: inline-block; width: 30%; margin:10px 6%;height: 44px; line-height: 44px; font-size: 1em}
a.btn-reg{display: block; width: 100%; height: 100%; color:#f1511b; font-size: 1em;}
.btn-forget{float: right; margin:8px 10% 0px 0px; font-size: 1em;}
.btn-more{width: 80%; text-align: right; display: block; line-height: 40px; padding:0px 10%;}
a.btn-bottom{position: fixed; bottom: 10px; width: 80%; left:10%; color:#fff;}

/*checkbox*/
em.form-check{width:24px;height:24px;border-radius:4px;border:1px solid #bbb; display: inline-block; float: left; position: relative;}
em.form-check i{width: 22px; height: 22px; font-size:22px;}
em.form-check input{position: absolute;top:0px; left:0px; height: 0px; width: 24px; height: 24px;padding:0px; margin:0px;-webkit-appearance:none;border:0px; background: transparent;}

.selectbox{position:relative; margin:0px auto;}
.selectbox select,select.txt{width:100%;background-color:transparent;line-height:32px;height:32px;line-height:32px;padding:0px 8px;font-size:1em; border-radius: 4px;-webkit-appearance:none;-moz-appearance: none;appearence: none;-safari-appearance: none;}
.selectbox span{position:absolute;width:0px;height:0px;border:0px solid transparent;right:0px; bottom: 0px;pointer-events:none;border-bottom-width:10px;border-left-width:12px;border-bottom-color:rgb(51,51,51);}
.selectbox em{border-left:1px solid #bfbfbf;display:inline-block;position:absolute;right:1px; top:9px;width:18px;height:18px;padding:0px 8px;background: #fff;z-index: 1;pointer-events:none;}
.selectbox i{display:block;width:0px;height:0px;border-top:10px solid #959595;border-right:8px solid transparent;border-bottom:0px solid #959595;border-left:8px solid transparent;line-height:0px;margin-top:5px;}

/* tab */
.tabs{width:96%;background-color:#fff;padding:0px 2%;border-bottom:1px solid #ddd;white-space:nowrap;overflow:hidden;}
.tabs a{display:inline-block;text-align:center;color:#555;line-height:40px;height:40px;}
.tabs a.active{color:#ff8255;border-bottom:2px solid #ff8255;font-weight:bold;}
.tabs.four a{width:24%;}
.tabs.three a{width:33%;}
.tabs.two a{width:48%;}
.maskbg{background:rgba(0,0,0,.8);display:none;height:100%;left:0;position:fixed;top:0;width:100%;z-index:19999}

/*外框*/
.box{background: #fff;}
.wrapper{border-top: 1px solid #bbb;margin-top: 4px; width: 100%; overflow:hidden;}

/*图标*/
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-chevron-left:before{content:"\f053";}
.fa-chevron-right:before{content: "\f054";}
.fa-question-circle:before{content:"\f059";}
.fa-check-circle:before{content:"\f058";}
.fa-check:before{content:"\f00c";}
.fa-remove:before, .fa-close:before, .fa-times:before {content: "\f00d";}
.fa-back{}

/*头部*/
header{width: 100%; text-decoration: center; height: 44px; font-size: 18px; padding: 0px; border-radius: 0px;  text-align: center; line-height: 44px; font-weight: bold; font-style: normal; color: #fff; box-shadow: rgb(170, 170, 170) 0px 0px 0px; transform: rotate(0deg); background-color: rgb(255, 102, 0); border-bottom:1px solid #bbbbbb;}
header i{position:absolute;height:40px;line-height:12px;width:40px;text-align:center;margin-top:12px; font-size: 24px;}
header i.fa-chevron-left{left:0px;}
header i.fa-question-circle, header i.fa-close{right:0px; top:0px; font-size:28px; margin-top: 8px}
header span{color:#fff; position: absolute; height: 40px; line-height: 40px; z-index: 5; right: 8px; top:0px;}

.form-item{display: inline-table; background: #fff; width: 100%; float: left;}
.form-item label{display: table-cell; width: 20%; min-width: 80px; vertical-align: middle;}
.form-item .input{display: table-cell;width: 80%; vertical-align: middle;}
.text-field{background:#fff;z-index:5;color:#888888;border:1px solid #bbb;width:194px;height:30px;font-size:14px;border-radius:8px;text-align:left;font-weight:normal;font-style:normal;box-shadow:rgb(170,170,170) 0px 0px 0px;opacity:1;-webkit-appearance:none;}
.btm-border{border-bottom:1px solid #bbb;}
.top-border{border-top:1px solid #bbb;}
.footer-bar{position: fixed; bottom: 0px; height: 44px; text-align: center; text-align: center; border-top: 1px solid #bbb; width: 100%; line-height: 44px; background: #fff;}

/*登录*/
.form-box{padding:10px 0px; width: 100%;}
.form-box-n{padding:10px 0px 6px;}
.form-box p{padding:14px 5%; width: 100%; margin:0px auto;}
.form-box-n p{padding:6px 0px;}

.form-box-n2 p{border-bottom: 1px solid #bbb; line-height: 30px;}
.form-box-n2 p.form-item label{width: auto; padding-left: 10px;}
.form-box-n2 p span{display: inline-block; text-align: right;float: right;padding-right: 10px;}
p.form-item-l span{text-align: left;color:#f1511b; line-height: 24px;}
p.form-item-l2 span{color:#f1511b;}
p.form-item-l label,p.form-item-l2 label{vertical-align: top; line-height: 24px;}
p.form-item-o,p.form-item-o6{color:#f1511b; vertical-align: middle; margin-top: 6px; border-top: 1px solid #bbb}
p.form-item-o2{vertical-align: middle; margin-top: 6px; border-top: 1px solid #bbb; border-bottom: 0px;}
p.form-item-o3{vertical-align: middle; border-top: 1px solid #bbb; margin:0px; border-bottom: 0px;}
p.form-item-o4{margin-top:6px;border-top: 1px solid #bbb; color:#000; padding:6px 10px;}
.form-item-o .text-field,.form-item-o6 .text-field{width: 172px;}
p.form-item-o span{display: inline-block; text-align: left;}
p.form-item-o6 span{display: inline-block; text-align: right;}
p.form-item-o3 span,p.form-item-o5 span{text-align: right;}
.form-item-o8 span{float: right; padding-right:10px;}
p.top-noborder{border-top: 0px; margin-top: 0px;}
p.btm-border{border-bottom: 1px solid #bbb;}

.fm-item{display:block;white-space: nowrap; overflow: hidden; float: left; width: 100%; line-height: 40px; position: relative; height: 40px; padding:14px 0px;}
.fm-item label{padding-left:10px; width: 80px;}
.fm-input{position: absolute; right:10%; top:10px;}

/*注册*/

/*文字*/
.txt-box{height: 100%; width: 100%}
.txt-box p{width: 90%;padding: 14px 0px; margin:0px auto; }

/*文案页*/
.info-box{width: 100%}
.info-box h2{line-height: 60px; text-align: center; font-size: 1.2em}
.info-box p{padding:12px; text-indent: 2em;}

.btn-box{text-align: center;}
.btn-box2{padding:10px 0px;}
.btn-box2 .btn{margin-top: 10px;}
.error-info{padding:0px 10px;}
.error-info p{color:#bbb; line-height: 24px; padding:12px 0px;}
p.error-main{color:#000; border-top:1px solid #bbb; border-bottom:1px solid #bbb; padding:16px 0px;}

/*账单*/
.zd-box{width: 100%;}

.zd-items{padding-bottom: 70px;}
.zd-item{width: 100%; padding:5px;border-top:1px solid #bbb;border-bottom:1px solid #bbb; margin-bottom: 6px; background: #fff;}
.zd-item:first-child{border-top: 0px;}
.zd-item span{display: table-cell;}
.zd-item .zd-one, .zd-item .zd-two{display: inline-table; width: 100%; height: 40px;}
.zd-one span,.zd-two span{text-align: left; vertical-align: middle;}
.zd-two span{color:#bbb;}
.zd-one span:nth-child(1), .zd-two span:nth-child(1){width: 100px;}
.zd-one span:nth-child(2), .zd-two span:nth-child(2){width: 80px;}
.zd-one span:nth-child(3), .zd-two span:nth-child(3){width: 80px;}
.zd-one span:nth-child(4), .zd-two span:nth-child(4){width: 30px; text-align: center; vertical-align: middle; color:#000;}
.zd-item .zd-one{}
.zd-item .zd-two{}
.more-title,.margin-title{height: 40px; line-height: 40px; text-align: center; margin-top: 6px; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; background: #fff}
.margin-title{margin-top:6px; clear: both;}

/*搜索框*/
.search-wrapper{ margin-bottom: 6px;}
.search-wrapper2{ margin-bottom: 0px;}
.search-box{ width: 100%; background: #fff;border-bottom: 1px solid #bbb; display: inline-table;}
.search-box.fixed{position: fixed; top:0px; left:0px; z-index: 10;}
.search-box .s-left{display: table-cell;width: 60%;text-align: center;}
.search-box .s-right{display: table-cell; width: 38%;text-align: center; vertical-align: middle; padding:8px 0px; border-left:1px solid #bbb;}
.date-box{padding:6px 0px; border-bottom: 1px solid #bbb; position: relative; height: 40px;}
.date-box input{width: 34%; position: absolute;}
.date-box span{display: inline-block; line-height: 40px;}
.date-box .date-start{left:6%;}
.date-box .date-end{right:6%;}
.date-input{font-size: 12px;}
.search-key{padding:6px 0px;}
.search-key input{width: 80%;}
.s-right .btn{margin:0px auto;}
.search-box2 .s-left{vertical-align: middle;}
.search-box2 .s-right{width: 30%; border-left: 0px;}
.search-box2 .search-key input{width: 92%; padding:0px 3px;}
.search-box2 .s-right .btn{height: 32px; line-height: 32px;}

.yft-list{width: 100%;}
.yft-list li{display: inline-table;width: 100%; margin-bottom: 6px; background: #fff;border-bottom: 1px solid #bbb;border-top: 1px solid #bbb;  line-height: 50px;}
.yft-list li:first-child{border-top:0px;}
.yft-list2{float: left;width: 100%;}
.yft-list2 li{margin-bottom: 0px; border-top:1px solid #bbb;border-bottom: 0px; float: left;}
ul.yft-list2 li:first-child{border-top:1px solid #bbb;}
.yft-list .l-item{display: table-cell;padding:0px 10px; width:86%;}
.yft-list-l .l-item{width: 94%; padding:0px 3%;}
.l-item a{display: block; width: 100%; height: 100%;color:#000;}
.l-item h3{font-size: 16px; line-height: 30px; width: 100%; white-space: nowrap; display: block;overflow:hidden;}
.l-item h3 em{color:#ff5f18; font-style: normal; float: right;}
.l-item h3 span{float: right; display: inline-block; margin-right: 10px;}
.l-item p{color:#8a8a8a; font-size: 14px; line-height: 24px; word-break: break-all; white-space: break-word;}
.yft-list-l .l-item p{color:#000;}
.yft-list .tri{width: 80px; display: table-cell; text-align: right;padding:0px 10px; vertical-align: middle;position: relative;}
.yft-list .tri i{font-size: 24px; display: block;}
.l-more{text-align: center;}
.yft-list3{padding-bottom: 70px; float: left; width: 100%;}
.yft-list3 li{padding:14px 0px; margin-bottom: 0px; border-top:0px; float: left;}
.yft-list3 li.znd-item{margin-top: 6px; padding:0px 0px;}
.yft-list3 li.znd-item span{float: right; padding-right: 6px;}
.yft-list3 .l-item{line-height: 24px;}

.fapiao-box,.fp-box{margin-bottom: 6px; background: #fff; border-bottom:1px solid #bbb; width: 100%}
.fapiao-user{font-weight: normal; padding:6px;}
.fapiao-user h3{line-height: 40px;}
.fapiao-user h3 span{float: right;}
.fapiao-user p{padding:5px 0px;}

.post-types{position: relative; background: #fff; border-bottom: 1px solid #bbb;width:100%; height: 24px; line-height: 24px; padding:14px 0px; text-align: center;}
.post-types label{display: inline-block; position: relative; vertical-align: middle; padding-right: 4px;}

/*联系地址*/
.contact-box{padding:10px 0px; height: 100%; width: 100%}
.contact-box .logo{display: block; width:80%; margin:10px auto;}
.contact-box h3,.quan-list-box h3{ width:94%; margin:0px auto; border-bottom:1px solid #bbb; line-height: 50px; text-align: center; font-size: 1em;}
.contact-box p{line-height: 22px; margin-top: 20px; padding:0px 5%; display: block;}
p.ptable{display: inline-table; width: 100%; height: 22px;}
p.ptable label{min-width: 80px;}
p.ptable span,p.ptable label{display: table-cell; vertical-align: middle;}

p.pline label{width:auto;display: inline-block;color:#888;}
p.pline span{display:inline-block;text-align: right; float: right; vertical-align: middle;}

/*抵用券*/
.quan-box{width: 100%;}
.quan-box h3{background: #f5f5f5; padding:0px 8px; line-height: 40px; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; font-size: 1em;}
.quan-box h1{background:#bbb; color:#e98149; text-align: center; line-height: 40px; margin-top: 6px; font-size: 1.3em;}
.quan-box p{padding:10px; font-size: 16px; background: #fff;}

.quan-list-box{background: #fff;min-height: 100%; padding-bottom: 10px;}
.quan-list-box h3{border-bottom: 0px;}

.quan-tabs{width: 100%; text-align: center; border-bottom: 1px solid #bbb; padding:6px 0px;}
.quan-tabs a{display: inline-block;width: 49%;margin:0px; color:#bbb; line-height: 32px;}
.quan-tabs a:first-child{border-right: 1px solid #bbb;}
.quan-tabs a.active,.quan-tabs a:hover{color:#f1511b;}

.quan-list-box ul{width: 96%; margin:0px auto;}
.quan-list-box ul li{width: 100%; border:1px solid #bbb; padding:6px 0px 0px;margin-top: 6px; line-height: 30px;}
.quan-list-box ul li div{display: inline-table; margin:0px;}
.quan-list-box ul li div h3{display:table-cell; width:80px; font-size: 1.2em; vertical-align: middle; color:#f1511b;}
.quan-list-box .quan-list-fail h3{color:#bbb; position: relative;}
/*.quan-list-box .quan-list-fail h3 span{position: absolute; bottom: 0px; left:0px;}*/
.quan-list-box ul li div p{display: table-cell;padding-left: 10px; vertical-align: middle; line-height: 22px; font-size: 14px; color:#bbb;}
.quan-list-box ul li div p span{color:#f1511b;}
.quan-list-box .quan-list-fail div p span{color:#bbb;}
.quan-list-box ul li h4{text-align: right; line-height: 24px;height: 24px; border-top:1px solid #bbb; padding-right:10px; font-weight: normal;}
.quan-list-box .quan-list-fail h4{color:#bbb;}
.quan-list-box li.last, .quan-table div.last{text-align: center; padding:0px; line-height: 40px;}
.quan-table div.last{border:1px solid #bbb;margin:6px auto;}

.quan-table{border:0px;width: 98%; margin:0px 1% 0px; display: table;}
.quan-row{border:1px solid #f1511b; border-left: 1px solid #fff; margin:6px auto 0px;}
.quan-table .tri{background-color:#f1511b;background-image: url(../../images/weixin/tri.png); background-repeat: repeat-y; width: 7px; display: table-cell;}
.q-info{background: #f1511b; width: 84%; color:#fff; display: table-cell; padding:10px 0px;}
.q-info-top{display: inline-table; width: 100%;}
.q-info-top .q-money{display: table-cell; width: 54px; vertical-align: middle; font-weight: bold; font-size: 2em; text-align: left; padding-left: 6px;}
.q-info-top .q-other{display: table-cell; font-size: 14px; white-space: break-word; word-break: break-all;}
.q-info-top span{font-weight: bold; font-size: 18px;}
.q-info-bottom{font-size: 12px; padding-left: 6px}
.q-share{width: 42px; color:#f1511b; text-align: center; line-height: 24px; vertical-align: middle; display: table-cell;}
.q-share h3{width: 40px;line-height: 24px; margin:0px auto;}
.q-share i{transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg);}

.quan-table-fail .quan-row{color:#bbb;border:1px solid #bbb; border-left:1px solid #fff;}
.quan-table-fail .tri{background-color: #bbb;}
.quan-table-fail .q-info{background-color: #bbb;}
.quan-table-fail .q-share{color:#bbb;}

/**/
.dz-list{width: 100%; display: inline-table;}
.dz-item{display: table-cell; text-align: center; vertical-align: middle;}
.dz-item .selectbox{width: 90%;}
.dz-item:first-child{text-align: left; padding-left: 10px;}
.dz-item:first-child .selectbox{width: 100%;}
.dz-item:last-child{text-align: right; padding-right: 10px;}
.dz-item:last-child .selectbox{width: 100%;}
.fp-box{background: transparent;}
.fapiao-form{}
.fapiao-form li{width:100%; padding:6px 0px; border-bottom: 1px dashed #bbb; background: #fff}
.fp-ln{text-align: center;}
.fp-wrapper{margin:0px auto; padding:6px 10px;}
.fp-wrapper input{width: 100%; margin:0px;}
.fp-item{display: inline-table; float: left; width: 100%;}
.fp-item label, .fp-item div{display:table-cell;}
.fp-item label{width: 20%; min-width: 80px; vertical-align: middle; padding-left: 10px;}
.fp-item div{width: 80%; vertical-align: middle; text-align: right; padding-right: 10px;}
.fp-item:last-child{border-bottom: 0px;}
.fp-item2{display: inline-table; margin-top: 6px;}
li.fp-item2 label{width: auto; padding-left: 10px;}
li.fp-item2 div{width: 30px; float: right; padding-right: 10px;}



/*提交成功*/
.suc-box{padding-bottom: 10px; min-height: 100%; width: 100%;}
.suc-top{color:rgb(37,155,36);background: #bbb; height: 50px; padding:0px 30px; line-height: 50px;}
.suc-top i{width:30px;height:26px;color:rgb(37,155,36);box-shadow:rgb(170,170,170) 0px 0px 0px; font-size: 26px; padding:0px; vertical-align: middle;}
.suc-info{ width: 100%;}
.suc-info h3{line-height: 50px; text-align: center;}
.suc-info p{padding:13px 0px; width: 94%; margin:0px auto; display: block;border-bottom: 1px dashed #bbb}
.suc-info p:last-child{border-bottom:1px solid #bbb; color:#888;font-weight: bold; padding:13px 3%;}

.hide{display:none;}
.top-margin{margin-top: 6px;}
div.top-nomargin{margin-top: 0px;}

/*qrcode*/
.logo-title{width: 100%; border-bottom: 1px solid #bbb; display: inline-table; padding:6px 0px;}
.logo-img{display: table-cell; padding:0px 10px; text-align: center; vertical-align: middle; width: 30%;}
.logo-img img {width: 90%;}
.logo-info{display: table-cell; text-align: left; padding:0px 0px 0px 10px; vertical-align: middle; color:#004138; line-height: 30px; border-left: 1px solid #bbb;}
.qrcode{text-align: center; padding:10px 0px; width: 100%; text-align: center;}
.qrcode img{width: 100%; margin:10px auto;}
.qrcode h3{line-height: 40px;}
.qrcode h4{color:#f1511b; line-height: 34px; font-size: 14px;}
.qr-table{display: inline-table;}
.qrcode .qr-l{display:table-cell; width: 20px; padding:0px 15px; vertical-align: middle;}
.qrcode .qr-r{display:table-cell; width: 20px; padding:0px 15px; vertical-align: middle;}
.qr-img{display: table-cell; vertical-align: middle;}
.qrinfo{border-top:1px solid #bbb; width: 100%; clear: both;}
.qrinfo p{padding:5px 10px;}
.qrinfo p:last-child{}

/*弹出框*/
.at-wrapper{position: fixed; background: rgba(0,0,0,0.6); text-align: center; width: 100%; height: 100%; z-index: 99999;top:0px; left:0px;}
.at-box{position: absolute; width: 180px; height: auto; background: #fff; text-align: center; line-height: 40px; border-radius: 10px; box-shadow: 0px 0px 2px #efefef; left: 50%; top:50%; margin-left: -90px;margin-top: -65px;}
.at-box1{position: absolute; width: 200px; height: auto; background: #fff; text-align: center; line-height: 30px; border-radius: 10px; box-shadow: 0px 0px 2px #efefef; left: 50%; top:30%; margin-left: -90px;margin-top: -65px;}
.at-box h3{color:#f1511b; height: 40px; line-height: 40px; font-style: 1.2em; margin-top: 16px;}
.at-box p{padding:12px;}
.at-close{position: absolute;right: 6px; top:6px; border:1px solid #f1511b; color:#f1511b; border-radius: 50%; text-align: center; line-height: 20px; height: 20px; width: 20px; font-size:14px; display: block; font-style: normal;}

.loading{text-align:center;margin:1em auto;width:100%;}
.loading-box img{left:50%;margin-left:-30px;position:absolute;top:50%; margin-top: -30px;}

.icon{background:url(../../images/weixin/icons.png);background-repeat:no-repeat;}
[class^="gw-icon-"]{display:inline-block;background-image:url(../../images/weixin/icon.png);background-repeat:no-repeat;background-size:160px 160px;vertical-align:middle;font-style:normal;}
.gw-icon-radio{background-position:-60px -85px;}
.gw-icon-radio.active{background-position:-80px -85px;}
label input[type="radio"]{position: absolute; display: block;-webkit-appearance:none;-moz-appearance: none;appearence: none;-safari-appearance: none;border: 0px; background: none;}
label i{width: 20px; height: 20px;}

/*修改*/
p.plineauto{white-space: normal; height: auto; line-height: 20px; float: left; margin-left: 3%;}
p.plineauto span{white-space: normal; width: 200px; overflow: auto; height: auto;word-break:break-all;word-wrap:break-word;}

/* 大屏幕 */
@media screen and (min-width:540px){
}
@media screen and (min-width:1200px){
}