<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
   	<context:annotation-config/>
	
	<mvc:resources location="/images/" mapping="/images/**" cache-period="2592000"/>
	<mvc:resources location="/js/" mapping="/js/**" cache-period="2592000"/>
	<mvc:resources location="/css/" mapping="/css/**" cache-period="2592000"/>
	<mvc:resources location="/plus/" mapping="/plus/**" cache-period="2592000"/>
	
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/> 
	<!-- 拦截器 -->
    <mvc:interceptors>  
    	<!-- 对所有的请求拦截使用/** ,对某个模块下的请求拦截使用：/myPath/* -->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/fonts/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <ref bean="stopWatchInterceptor" />
        </mvc:interceptor>
        
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/fonts/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/weixin/toMyQRcode"/>
            <mvc:exclude-mapping path="/weixin/toMyQRcodeFriend"/>
            <mvc:exclude-mapping path="/weixin/access"/>
            <mvc:exclude-mapping path="/weixin/saveImageToDisk"/>
            <mvc:exclude-mapping path="/weixin/verify"/>
            <mvc:exclude-mapping path="/weixin/dbIndex"/>
            <mvc:exclude-mapping path="/weixin/toReg"/>
            <mvc:exclude-mapping path="/weixin/reg"/>
            <mvc:exclude-mapping path="/weixin/sendCode"/>
            <mvc:exclude-mapping path="/weixin/backTransUrl"/>
            <mvc:exclude-mapping path="/weixin/frontTransUrl"/>
            <mvc:exclude-mapping path="/weixin/test"/>
            <mvc:exclude-mapping path="/weixin/getToken"/>
            <mvc:exclude-mapping path="/weixin/backUri"/>
            <mvc:exclude-mapping path="/weixin/backUrlDF"/>
            <mvc:exclude-mapping path="/weixin/backUrlTrans"/>
            <mvc:exclude-mapping path="/weixin/toPay"/>
            <mvc:exclude-mapping path="/unionpay/toRegInfo"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/manageAdminUser/login"/>
            <mvc:exclude-mapping path="/manageAdminUser/pcrimg"/>
            <mvc:exclude-mapping path="/unionpay/backUrlDF_sell"/>
            <mvc:exclude-mapping path="/unionpay/backUrlTrans_sell"/>
            <mvc:exclude-mapping path="/unionpay/xw_backUrl"/>
            <mvc:exclude-mapping path="/index/union_fronturl"/>
            <mvc:exclude-mapping path="/index/union_backurl"/>
            <mvc:exclude-mapping path="/index/pay_backurl"/>
            <mvc:exclude-mapping path="/index/union_refundpay_backurl"/>
            <mvc:exclude-mapping path="/index/union_fronturl_token"/>
            <mvc:exclude-mapping path="/index/union_backurl_token"/>
            <mvc:exclude-mapping path="/index/union_refundpay_backTrans_backurl"/>
            <mvc:exclude-mapping path="/index/union_fronturl_token_df"/>
            <mvc:exclude-mapping path="/index/union_backurl_token_df"/>
            <ref bean="systemInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>  
    
    <!-- 扫描controller（controller层注入） -->
   	<context:component-scan base-package="com.**.controller.**" />
	<context:component-scan base-package="com.**.service.**" />
	<context:component-scan base-package="com.**.dao.**" />
   	<!-- 启动springMvc注解功能，完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<!-- InternalResourceViewResolver默认的就是JstlView所以这里就不用配置viewClass了 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/page" p:suffix=".jsp" />	
	<!-- file upload start -->
	<bean id="multipartResolver"
           class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
           <!-- 设置上传文件大小的参数 500M -->
        <property name="maxUploadSize" value="524288000"/>
    </bean>
    <!-- file upload end -->
    
    
    <bean class="com.base.interceptor.SystemInterceptor" id="systemInterceptor"></bean>  
    <bean class="com.base.interceptor.StopWatchInterceptor" id="stopWatchInterceptor"></bean>
</beans>